.adopt-img{
    width: 1920px;
    background-image: 
    url('/images//adopt/rectangle2204.png'),
    url('/images//adopt/group660.png'),
    url('/images//adopt/group673.png'),
    url('/images//adopt/group688.png'),
    url('/images//adopt/pixta_83375229_XL_dark.png'),
    url('/images//adopt/group674.png');
    background-repeat: no-repeat;
    background-position: 
    top 895px left 0px,
    top 858px left 1584px,
    top 1910px left 199px,
    top 3554px left 1584px,
    top 3603px left 0px,
    top 6396px left 1510px;
}
.top-line{
    margin-top: 153px;
    width: 1920px;
    height: 500px;
    background-image: url('/images//adopt/pixta_116256066_XL.png');
    background-repeat: no-repeat;
    background-position:right 0px;
    display: flex;
    flex-direction: column;
}
.tline1{
    margin-left: 410px;
    margin-top: 103px;
    width: 400px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2.7px;
    line-height: 50px;
    color: #333333;
}
.tline2{
    margin-left: 410px;
    margin-top: 48px;
    width: 455px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 40px;
    color: #333333;
}

.numbers-line{
    margin-top: 62px;
    width: 1920px;
    display: flex;
    flex-direction: column;
}
.title1{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: auto;
    color: #1A1A1A;

}
.title2{
    text-align: center;
    margin-top: -10px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: auto;
    color: #1A1A1A;
}
.ngrid{
    display: grid;
    grid-template-columns: 270px 270px 420px; /* 三列：小方块+小方块+大方块 */
    grid-template-rows: 277px 277px;         /* 两行：小方块高度 */
    gap: 20px;                              /* 间距 */
    width: calc(270px * 2 + 420px + 40px);  /* 总宽度：两小方块+大方块+间距 */
    margin: 48px auto;                         /* 居中 */
}
.numbers-box1{
    background-color: #FFFFFF;
    grid-column: span 1; /* 占一列 */
    grid-row: span 1;    /* 占一行 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 40px;
}
.numbers-box1 span, .numbers-box2 span{
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: auto;
    color: #1A1A1A;
}
.value{
    font-family: 'Poppins',sans-serif;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: auto;
    color: #1A1A1A;
}
.numbers-box2{
    background-color: #FFFFFF;
    grid-column: 3; /* 占第3列 */
    grid-row: span 2; /* 占两行 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
}
.numbers-box2 img{
    max-width: 80%;
    margin-bottom: 50px;
}

.welfare-line{
    margin-top: 150px;
    width: 1920px;
    display: flex;
    flex-direction: column;
}
.wgrid1 {
    display: grid;
    grid-template-columns: repeat(2, 530px); /* 第一行：两列530px，第二行和第三行：三列340px */
    grid-template-rows: 429px; /* 第一行高度为429px，第二行和第三行每行高度383px */
    gap: 95px 40px; /* 行间距95px，列间距40px */
    margin: 50px auto; /* 网格居中显示 */
    max-width: 1100px; /* 网格总宽度 */
  }
.welfare-box1 {
    width: 530px;
    height: 429px;
  }
  .welfare-box1 img{
    max-width: 100%;
    height: 75%;
  }
.wgrid2 {
    display: grid;
    grid-template-columns: repeat(3, 340px); /* 第一行：两列530px，第二行和第三行：三列340px */
    grid-template-rows: 383px; /* 第一行高度为429px，第二行和第三行每行高度383px */
    gap: 95px 40px; /* 行间距95px，列间距40px */
    margin: 95px auto; /* 网格居中显示 */
    max-width: 1100px; /* 网格总宽度 */
  }
.welfare-box2 {
    width: 340px;
    height: 383px;
  }
.welfare-title{
    margin-top: 30px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: auto;
    color: #1A1A1A;
    width: 340px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;

}
.welfare-content{
    margin-top: 20px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 25px;
    color: #333333;
    width: 340px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
}
.description-box2 img{
    max-width: 110%;
}
.description-box img{
    max-width: 110%;
}
.description-line{
    margin-left: 410px;
    margin-top: 150px;
    width: 1100px;
    display: flex;
    flex-direction: column;
}
.dgrid {
    display: grid;
    grid-template-columns: repeat(2, 510px); /* 第一行：两列530px，第二行和第三行：三列340px */
    grid-template-rows: 650px; /* 第一行高度为429px，第二行和第三行每行高度383px */
    gap:80px; /* 行间距95px，列间距40px */
    margin: 55px auto; /* 网格居中显示 */
    max-width: 1100px; /* 网格总宽度 */
  }
  .description-title{
    margin-top: 40px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2.3px;
    line-height: auto;
    color: #1A1A1A;
    width: 510px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;

}
.description-content{
    margin-top: 20px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 28px;
    color: #333333;
    width: 510px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
}
.di1{
    margin-top: 58px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2.7px;
    line-height: auto;
    color: #333333;
    width: 1050px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;

}
.di2{
    margin-top: 24px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 40px;
    color: #333333;
    width: 1050px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
}
.service{
    margin-top: 63px;
    margin-left: 365px;
    width: 370px;
    height: 70px;
    background-color: #333333;
    color: #C9C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: auto;
}
.service a{
    text-decoration: none;
    color: #C9C9C9;
}
.sign-box{
    padding: 70px 0 0 0 ;
    margin-top: 95px;
    margin-left: 360px;
    width: 1200px;
    height: 1191px;
    background-color: #FFFFFF;
    background-image: url('/images//adopt/group669.png');
    background-repeat: no-repeat;
    background-position: 
    top 234px left 366px;
    position: relative;
}
.sign-title{
    text-align: center;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2.7px;
    line-height: auto;
    color: #333333;
}
.sign-line{
    height: 3px; /* 线条的高度 */
    width: 100px; /* 线条的宽度 */
    background-color: #EA5506;
    margin: 21px auto;
}
.sign-box span{
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: auto;
    color: #1A1A1A;
}
.sign-element1{
    position: absolute;
    left: 554px;
    top: 203px;
}
.sign-element2{
    position: absolute;
    left: 793px;
    top: 375px;
}
.sign-element3{
    position: absolute;
    left: 692px;
    top: 697px;
}
.sign-element4{
    position: absolute;
    left: 393px;
    top: 697px;
}
.sign-element5{
    position: absolute;
    left: 317px;
    top: 375px;
}
.sgrid {
    display: grid;
    grid-template-columns: repeat(3, 272px); /* 第一行：两列530px，第二行和第三行：三列340px */
    grid-template-rows: 122px 94px; /* 第一行高度为429px，第二行和第三行每行高度383px */
    gap:71px 92px; /* 行间距95px，列间距40px */
    margin: 683px auto; /* 网格居中显示 */
    max-width: 1000px; /* 网格总宽度 */
  } 
  .stitle{
    text-align: center;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: auto;
    color: #1A1A1A;
  }
  .sdetail{
    margin-top: 12px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
    color: #333333;
  }



  .requirements-line{
    margin-top: 194px;
    width: 1920px;
    display: flex;
    flex-direction: column;
}
.requirements-button{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 67px;
}
.toggle-button {
    width: 370px;
    height: 70px;
    border: 2px solid #333333;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: auto;
    color: #333333;
    cursor: pointer; /*手指*/
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /*过渡*/
 }
 
 .toggle-button.active {
    background-color: #333333;
    color: white;
 }

 .containerB-text{
    width: 900px;
    margin-top: 35px;
    margin-left: 510px;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 33px;
    color: #333333;
 }
 .container-option.active{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .container-option.active span{
    text-align: center;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: auto;
    color: #1A1A1A;
 }
 .container-option{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .container-option span{
    text-align: center;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: auto;
    color: #B4B4B4;
 }
 .option-line.active{
    height: 3px; /* 线条的高度 */
    width: 220px; /* 线条的宽度 */
    background-color: #EA5506;
    margin: 15px auto;
}
.option-line{
    height: 3px; /* 线条的高度 */
    width: 220px; /* 线条的宽度 */
    background-color: #D6D6D6;
    margin: 15px auto;
}
.containerA-grid {
    display: grid;
    grid-template-columns: repeat(3, 220px); /* 第一行：两列530px，第二行和第三行：三列340px */
    grid-template-rows: 56px; /* 第一行高度为429px，第二行和第三行每行高度383px */
    gap:87px; /* 行间距95px，列间距40px */
    margin:  auto; /* 网格居中显示 */
    max-width: 834px; /* 网格总宽度 */
  }
  .containerA-grid button{
    all: unset;
    text-align: center;
    cursor: pointer;
  }
  .containerA-grid span{
    all: unset;
    text-align: center;
    cursor: pointer;
  }
  .containerA{
    margin-top: 78px;
  }
  .containerB{
    margin-top: 78px;
  }

  .table {
    margin-top: 50px;
    margin-left: 510px;
    margin-bottom: 140px;
    width: 900px;
    border-collapse: collapse;
    border: 1px solid #CECECE;
  }
  
  .table td {
    border-bottom: 1px solid #CECECE;
  }
  
  .table .table-col1 {
    padding-left: 20px;
    width: 180px;
    background-color: #F8F8F8;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: auto;
    color: #1A1A1A;
  }
  
  .table .table-col2 {
    padding: 30px 50px;
    width: 720px;
    background-color: white;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.9px;
    line-height: 25px;
    color: #333333;
    display: flex;
    flex-direction: column;
  }
  
  /* 移除最后一行的红色线 */
  .table tr:last-child td {
    border-bottom: none;
  }
  .aservice {
    margin-top: 63px;
    margin-left: 365px;
    width: 370px;
    height: 70px;
    background-color: #333;
    color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Noto Sans JP, sans-serif;
    font-weight: 500;
    line-height: auto;
}
.aservice-text{
    color: #c9c9c9;
    text-decoration: none;
}
  
