
/* 联系方式 */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
  }
  
  .contact-picture{
    width: 960px;
    height: 410px;
  }
  
  .phone, .message{
    width: 960px;
    height: 205px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 960px;
  }
  
  .phone{
    background-color: #333333;
  }
  .message{
    background-color: rgb(234, 85, 6);
  }
  
  .mes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
  }
  
  .icon-1{
    margin-left: 50px;
    width: 90px;
    height: 89px;
    opacity: 0.5;
  }
  
  .contact .text{
    margin-left: 40px;
    color: white;
    line-height: 40px;
  }
  
  .phone .text div:nth-child(1){
    font-size: 18px;
    font-weight: bold;
  }
  
  .phone .text div:nth-child(2) span:first-child{
    font-size: 16px;
    font-weight: bold;
  }
  
  .phone .text div:nth-child(2) span:last-child{
    font-size: 38px;
    font-weight: bold;
  }
  
  .phone .text div:nth-child(3){
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
  }
  
  /* message */
  .icon-2{
    width: 98px;
    height: 68px;
    opacity: 0.5;
  }
  
  .mes .text{
    font-size: 22px;
    font-weight: bold;
  }
  
  .mes .icon-3{
    margin-left: 40px;
    margin-top: 10px;
  }

/*头部*/
.route-picc{
    position: absolute; /* 将图片定位为绝对位置 */
    top: 0; /* 距离顶部 0px */
    left: 0; /* 距离左侧 0px */
    width: 1920px;
    height: 360px;
    z-index: -1;
}

.route-select{
    width: 1920px;
    height: 102px;
    margin-top: 73px;
    margin-left: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.route-select::before{
  position: absolute;
  left: -50px;
  content: '';
  width: 2px;
  height: 100%; /* 垂直线覆盖整个高度 */
  background: linear-gradient(to bottom, #1A1A1A 50%, #EA5506 50%);
}
.route-f1{
  font-Family: 'Noto Sans JP', sans-serif;
  font-Weight:700;
  font-Size:27px;
  letter-Spacing: 0px;
  color:#1A1A1A
}
.route-f2{
  font-Family: 'Noto Sans JP', sans-serif;
  font-Weight:400;
  font-Size:12px;
  letter-Spacing: 0.7px;
  color:#1A1A1A
}
.route-f3{
  margin-left:8px;
  font-Family: 'Noto Sans JP', sans-serif;
  font-Weight:400;
  font-Size:12px;
  letter-Spacing: 0.7px;
  color:#8E8E8E
}
.route-line{
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.route-line img{
  margin-left: 11px;
  width: 7px;
  height: 7px;
}
.message a{
  text-decoration: none;
}