/* [project]/src/styles/pc/route.css [app-client] (css) */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
}

.contact-picture {
  width: 960px;
  height: 410px;
}

.phone, .message {
  width: 960px;
  height: 205px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 960px;
}

.phone {
  background-color: #333;
}

.message {
  background-color: #ea5506;
}

.mes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.icon-1 {
  margin-left: 50px;
  width: 90px;
  height: 89px;
  opacity: .5;
}

.contact .text {
  margin-left: 40px;
  color: #fff;
  line-height: 40px;
}

.phone .text div:first-child {
  font-size: 18px;
  font-weight: bold;
}

.phone .text div:nth-child(2) span:first-child {
  font-size: 16px;
  font-weight: bold;
}

.phone .text div:nth-child(2) span:last-child {
  font-size: 38px;
  font-weight: bold;
}

.phone .text div:nth-child(3) {
  font-size: 14px;
  font-weight: bold;
  opacity: .5;
}

.icon-2 {
  width: 98px;
  height: 68px;
  opacity: .5;
}

.mes .text {
  font-size: 22px;
  font-weight: bold;
}

.mes .icon-3 {
  margin-left: 40px;
  margin-top: 10px;
}

.route-picc {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 360px;
  z-index: -1;
}

.route-select {
  width: 1920px;
  height: 102px;
  margin-top: 73px;
  margin-left: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.route-select:before {
  position: absolute;
  left: -50px;
  content: "";
  width: 2px;
  height: 100%;
  background: linear-gradient(#1a1a1a 50%, #ea5506 50%);
}

.route-f1 {
  font-family: Noto Sans JP, sans-serif;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 0;
  color: #1a1a1a;
}

.route-f2 {
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .7px;
  color: #1a1a1a;
}

.route-f3 {
  margin-left: 8px;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .7px;
  color: #8e8e8e;
}

.route-line {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.route-line img {
  margin-left: 11px;
  width: 7px;
  height: 7px;
}

.message a {
  text-decoration: none;
}


/* [project]/src/styles/pc/adopt.css [app-client] (css) */
.adopt-img {
  width: 1920px;
  background-image: url("/images//adopt/rectangle2204.png"), url("/images//adopt/group660.png"), url("/images//adopt/group673.png"), url("/images//adopt/group688.png"), url("/images//adopt/pixta_83375229_XL_dark.png"), url("/images//adopt/group674.png");
  background-repeat: no-repeat;
  background-position: 0 895px, 1584px 858px, 199px 1910px, 1584px 3554px, 0 3603px, 1510px 6396px;
}

.top-line {
  margin-top: 153px;
  width: 1920px;
  height: 500px;
  background-image: url("/images//adopt/pixta_116256066_XL.png");
  background-repeat: no-repeat;
  background-position: right 0;
  display: flex;
  flex-direction: column;
}

.tline1 {
  margin-left: 410px;
  margin-top: 103px;
  width: 400px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
  font-family: Noto Sans JP, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: 50px;
  color: #333;
}

.tline2 {
  margin-left: 410px;
  margin-top: 48px;
  width: 455px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 40px;
  color: #333;
}

.numbers-line {
  margin-top: 62px;
  width: 1920px;
  display: flex;
  flex-direction: column;
}

.title1 {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: auto;
  color: #1a1a1a;
}

.title2 {
  text-align: center;
  margin-top: -10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: auto;
  color: #1a1a1a;
}

.ngrid {
  display: grid;
  grid-template-columns: 270px 270px 420px;
  grid-template-rows: 277px 277px;
  gap: 20px;
  width: 1000px;
  margin: 48px auto;
}

.numbers-box1 {
  background-color: #fff;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 40px;
}

.numbers-box1 span, .numbers-box2 span {
  font-family: Noto Sans JP, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: auto;
  color: #1a1a1a;
}

.value {
  font-family: Poppins, sans-serif;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: auto;
  color: #1a1a1a;
}

.numbers-box2 {
  background-color: #fff;
  grid-column: 3;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}

.numbers-box2 img {
  max-width: 80%;
  margin-bottom: 50px;
}

.welfare-line {
  margin-top: 150px;
  width: 1920px;
  display: flex;
  flex-direction: column;
}

.wgrid1 {
  display: grid;
  grid-template-columns: repeat(2, 530px);
  grid-template-rows: 429px;
  gap: 95px 40px;
  margin: 50px auto;
  max-width: 1100px;
}

.welfare-box1 {
  width: 530px;
  height: 429px;
}

.welfare-box1 img {
  max-width: 100%;
  height: 75%;
}

.wgrid2 {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: 383px;
  gap: 95px 40px;
  margin: 95px auto;
  max-width: 1100px;
}

.welfare-box2 {
  width: 340px;
  height: 383px;
}

.welfare-title {
  margin-top: 30px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: auto;
  color: #1a1a1a;
  width: 340px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.welfare-content {
  margin-top: 20px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
  line-height: 25px;
  color: #333;
  width: 340px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.description-box2 img {
  max-width: 110%;
}

.description-box img {
  max-width: 110%;
}

.description-line {
  margin-left: 410px;
  margin-top: 150px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.dgrid {
  display: grid;
  grid-template-columns: repeat(2, 510px);
  grid-template-rows: 650px;
  gap: 80px;
  margin: 55px auto;
  max-width: 1100px;
}

.description-title {
  margin-top: 40px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 2.3px;
  line-height: auto;
  color: #1a1a1a;
  width: 510px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.description-content {
  margin-top: 20px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
  line-height: 28px;
  color: #333;
  width: 510px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.di1 {
  margin-top: 58px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: auto;
  color: #333;
  width: 1050px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.di2 {
  margin-top: 24px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 40px;
  color: #333;
  width: 1050px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}

.service {
  margin-top: 63px;
  margin-left: 365px;
  width: 370px;
  height: 70px;
  background-color: #333;
  color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: auto;
}

.service a {
  text-decoration: none;
  color: #c9c9c9;
}

.sign-box {
  padding: 70px 0 0;
  margin-top: 95px;
  margin-left: 360px;
  width: 1200px;
  height: 1191px;
  background-color: #fff;
  background-image: url("/images//adopt/group669.png");
  background-repeat: no-repeat;
  background-position: 366px 234px;
  position: relative;
}

.sign-title {
  text-align: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: auto;
  color: #333;
}

.sign-line {
  height: 3px;
  width: 100px;
  background-color: #ea5506;
  margin: 21px auto;
}

.sign-box span {
  font-family: Noto Sans JP, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: auto;
  color: #1a1a1a;
}

.sign-element1 {
  position: absolute;
  left: 554px;
  top: 203px;
}

.sign-element2 {
  position: absolute;
  left: 793px;
  top: 375px;
}

.sign-element3 {
  position: absolute;
  left: 692px;
  top: 697px;
}

.sign-element4 {
  position: absolute;
  left: 393px;
  top: 697px;
}

.sign-element5 {
  position: absolute;
  left: 317px;
  top: 375px;
}

.sgrid {
  display: grid;
  grid-template-columns: repeat(3, 272px);
  grid-template-rows: 122px 94px;
  gap: 71px 92px;
  margin: 683px auto;
  max-width: 1000px;
}

.stitle {
  text-align: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: auto;
  color: #1a1a1a;
}

.sdetail {
  margin-top: 12px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 28px;
  color: #333;
}

.requirements-line {
  margin-top: 194px;
  width: 1920px;
  display: flex;
  flex-direction: column;
}

.requirements-button {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 67px;
}

.toggle-button {
  width: 370px;
  height: 70px;
  border: 2px solid #333;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: auto;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s, color .3s;
}

.toggle-button.active {
  background-color: #333;
  color: #fff;
}

.containerB-text {
  width: 900px;
  margin-top: 35px;
  margin-left: 510px;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 33px;
  color: #333;
}

.container-option.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-option.active span {
  text-align: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: auto;
  color: #1a1a1a;
}

.container-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-option span {
  text-align: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: auto;
  color: #b4b4b4;
}

.option-line.active {
  height: 3px;
  width: 220px;
  background-color: #ea5506;
  margin: 15px auto;
}

.option-line {
  height: 3px;
  width: 220px;
  background-color: #d6d6d6;
  margin: 15px auto;
}

.containerA-grid {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: 56px;
  gap: 87px;
  margin: auto;
  max-width: 834px;
}

.containerA-grid button {
  all: unset;
  text-align: center;
  cursor: pointer;
}

.containerA-grid span {
  all: unset;
  text-align: center;
  cursor: pointer;
}

.containerA {
  margin-top: 78px;
}

.containerB {
  margin-top: 78px;
}

.table {
  margin-top: 50px;
  margin-left: 510px;
  margin-bottom: 140px;
  width: 900px;
  border-collapse: collapse;
  border: 1px solid #cecece;
}

.table td {
  border-bottom: 1px solid #cecece;
}

.table .table-col1 {
  padding-left: 20px;
  width: 180px;
  background-color: #f8f8f8;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: auto;
  color: #1a1a1a;
}

.table .table-col2 {
  padding: 30px 50px;
  width: 720px;
  background-color: #fff;
  font-family: Noto Sans JP, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .9px;
  line-height: 25px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.table tr:last-child td {
  border-bottom: none;
}

.aservice {
  margin-top: 63px;
  margin-left: 365px;
  width: 370px;
  height: 70px;
  background-color: #333;
  color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 500;
  line-height: auto;
}

.aservice-text {
  color: #c9c9c9;
  text-decoration: none;
}


/*# sourceMappingURL=src_styles_pc_478ed0b3._.css.map*/
