
.nnews-line{
width: 780px;
  margin-left: auto;
    margin-top: 155px;
    display: flex;
    flex-direction: column;
}
/* 按钮基础样式 */
.nrequirements-button{
  display: flex;
  flex-direction: row;
}
.nrequirements-button button {
  width: 390px;
  height: 93px;
  
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1.8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 未选中的按钮样式 */
.nrequirements-button button {
  color: #B4B4B4;
  border-bottom: 2px solid #DEDEDE;
  background-color: transparent;
}

/* 选中的按钮样式 */
.nrequirements-button .active {
  color: #1A1A1A;
  border: 2px solid #DEDEDE;  /* 上方有边框 */
  border-bottom: none;         /* 下方没有边框 */
}

  
  /* 内容区域 */
  .nrequirements-container {
    margin-top: 20px;
  }
  

    /* 新闻列表样式 */
.nnews-list {
  margin-top: 31px;
  width: 100%;
  flex-direction: column;
  align-items: center;     /* 垂直居中 */
}

/* 每一条新闻的详情栏样式 */
.mnews-item {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 186px;
  width: 700px;
  border-bottom: 1.5px solid #DEDEDE;  /* 每条新闻之间的灰色分隔线 */
  gap: 20px;
  position: relative;
}

.nnews-time {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0px;
  color: #C9C9C9;
}
.nnews-fl{
  display: flex;
  flex-direction: row;
}
.nnews-t{
  text-align: center;
margin-left: 60px;
margin-top: -6px;
  height: 42px;
  border: 2px solid #EA5506;
  
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1.6px;
  color: #EA5506;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
.nnews-summary {
  
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.7px;
  color: #333333;
}
  
  /* 分页样式 */
  .pagination {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 分页按钮（向左箭头，数字按钮，向右箭头） */
  .pagination button {
    width: 43px;
    height: 43px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 18px!important;
    letter-spacing: 1.4px;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  /* 禁用状态按钮 */
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  /* 当前页按钮为黑色背景 */
  .pagination .active {
    color: #FFFFFF!important;
    background-color: black;
  }
  
  
  /* 向左和向右箭头符号 */
  .pagination button.arrow {
    font-size: 18px;
    color: #333;
  }
  
  /* 鼠标悬停效果 */
  .pagination button:hover {
    background-color: #f0f0f0;
  }

.no-news {
  font-size: 32px;
  color: #666;
  text-align: center;
  padding: 20px;
}
.no-tnews {
  font-size: 34px;
  color: #D8D8D8;
}

  
  